<h1>RESISTENCIAS</h1>
<form class="">
    <table class="card">
        <h2>Primera Banda</h2>

         <div> </div><input type="radio" name="" id="" value=""> <br> 
         <div> </div><input type="radio" name="" id="" value=""> <br>
         <div> </div><input type="radio" name="" id="" value=""> <br>
         <div> </div><input type="radio" name="" id="" value=""> <br>
         <div> </div><input type="radio" name="" id="" value=""> <br>
         <div> </div><input type="radio" name="" id="" value=""> <br>
         <div> </div><input type="radio" name="" id="" value=""> <br>
         <div> </div><input type="radio" name="" id="" value=""> <br>
         <div> </div><input type="radio" name="" id="" value=""> <br>
         <div> </div><input type="radio" name="" id="" value=""> <br>
    </table>
    <table class="card">
        <h2>Segunda Banda</h2>
        <input type="radio" name="" id="" value=""> <br>
        <input type="radio" name="" id="" value=""> <br>
        <input type="radio" name="" id="" value=""> <br>
        <input type="radio" name="" id="" value=""> <br>
        <input type="radio" name="" id="" value=""> <br>
        <input type="radio" name="" id="" value=""> <br>
        <input type="radio" name="" id="" value=""> <br>
        <input type="radio" name="" id="" value=""> <br>
        <input type="radio" name="" id="" value=""> <br>
        <input type="radio" name="" id="" value=""> <br>
    </table>
    <table class="card">
        <h2>Tercera Banda multiplicador</h2>
        <input type="radio" name="" id="" value="">  <br>
        <input type="radio" name="" id="" value=""> <br>
        <input type="radio" name="" id="" value=""> <br>
        <input type="radio" name="" id="" value=""> <br>
        <input type="radio" name="" id="" value=""> <br>
        <input type="radio" name="" id="" value=""> <br>
        <input type="radio" name="" id="" value=""> <br>
        <input type="radio" name="" id="" value=""> <br>
        <input type="radio" name="" id="" value=""> <br>
        <input type="radio" name="" id="" value=""> <br>
    </table> 
    <br>
    <table class="card">
        <h2> Cuarta Banda</h2>
        <input type="radio" name="" id="" value=""> <br>
        <input type="radio" name="" id="" value=""> <br>
    </table>
</form>